.button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  border: none;

  padding: 0.875rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  text-transform: uppercase;
  transition: background-color 0.25s var(--transition--buttons_1);
}
.button svg {
  height: 0.75rem;
}
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}
