.container {
  display: grid;
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

@media screen and (min-width: 688px) {
  .container {
    grid-template-rows: 89px 1fr;
  }
}
@media screen and (min-width: 1410px) {
  .container {
    grid-template-rows: 129px 1fr;
  }
}
